// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$dark-orange: #FF9F1C;
$light-orange: #FFBF69;
$light-aqua: #CBF3F0;
$dark-aqua: #2EC4B6;

.status {
  &.pending {
    color: orange;
  }

  &.accepted {
    color: green;
  }

  &.denied {
    color: red;
  }

}
