<div class="container py-5 mt-10">
  <div class="d-flex align-items-center justify-content-between mb-3 pt-5">

  </div>

  <div class="row ">
    <% EquipmentListing.all.each do |equipment| %>
      <div class="card co-12 col-sm-6 col-md-3 m-5 border border-2 shadow">
        <div class="card-body">
          <div class="card-title p-3">
            <%= equipment.name %>
            </div>
        <div class="card-subtitle mb-2 text-muted">
            <p><%= equipment.category %></p>
          </div>
          <div class="card-text">
            <p><%= equipment.description %></p>
            <div class="card-footer ">
            <%= link_to equipment_listing_path(equipment), class:"text-decoration-none" do%>
            <div class="card-link align-middle">Check it out</div>
            <% end %>
            </div>
          </div>
      </div>
      </div>
    <% end %>
  </div>
</div>
