.listing-list-item {
  margin-bottom: 2em;
}

.listing-card-image {
  width: 100%;
  height: 200px;
  background-size: cover;
  border-radius: 20px 20px 0 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 1em;
  background-image: url("https://images.pexels.com/photos/209977/pexels-photo-209977.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}

.listing-card-body {
  border: 1px solid transparent;
  border-radius:  0 0 20px 20px;
  background-color: white;
  min-height: 322px;
  padding: 1em;
}

.listing-card-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

p.listing-card-subtitle {
  display: flex;
  margin-top: -5px;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 4px 12px;
  align-items: center;

  span {
    margin-left: 6px;

  }
}

@media (max-width: 768px) {
  .listing-card-header {
    flex-direction: column-reverse;

    p {
      display: flex;
      margin-top: 3px;

      span {
        margin-left: 8px;
      }
    }
  }
}

.map-container {
  margin: 20px;
}
