.listing-list-item {
  margin-bottom: 2em;
}

.listing-card-image {
  width: 100%;
  height: 300px;
  background-size: cover;
  border-radius: 20px 20px 0 0;
  min-height: 160px;
  background-size: cover;
  background-repeat: no-repeat; // get bg-image inline from cloudinary
  display: flex;
  // align-items: flex-start;
  // justify-content: flex-end;
  position: relative;
}

.listing-card-body {
  border: 1px solid transparent;
  border-radius:  0 0 20px 20px;
  background-color: white;
  min-height: 322px;
  padding: 1em;
}

.listing-card-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

p.listing-card-subtitle {
  display: flex;
  margin-top: -5px;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 4px 12px;
  align-items: center;

  span {
    margin-left: 6px;

  }
}

@media (max-width: 768px) {
  .listing-card-header {
    flex-direction: column-reverse;

    p {
      display: flex;
      margin-top: 3px;

      span {
        margin-left: 8px;
      }
    }
  }
}

.map-container {
  margin: 20px;
}

.card-wrapper {
  width: 500px;
  display: flex;
  flex-direction: flex-column;
}

.booking-card {
  display: flex;
  width: 100%;
  margin-bottom: 2em;
}

.booking-card-status {
  border: 1px solid transparent;
  border-radius: 20px 0px 0 20px;
  width: 90px;
  color: white;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.booking-card-thumbnail {
  min-width: 80px;
  flex-grow: 2;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
}

.booking-card-content {
  width: 200px;
  background: #D9D9D9;
  flex-grow: 4;
}

.booking-card-date {
  width: 200px;
  background: #F0F0F0;
  border-radius: 0px 20px 20px 0px;
  flex-grow: 2;
  text-align: right;
}

.card-thumbnail {
  position: absolute;
}
