a:link, a:visited {
  color: #5e717c;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.75em;
}

a:hover {
  color: #000000;
}

a:active{
  color: #5e717c;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
}
