.navbar {
  justify-content: space-between;
  // background-color: #2EC4B6;
  background: rgb(46,196,182);
  background: linear-gradient(180deg, rgba(46,196,182,1) 0%, rgba(161,230,224,1) 100%);
}

.dropdown-menu {
  border-radius: 8px;
}
