<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/209977/pexels-photo-209977.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);">
  <div class="container">
    <h1>Don't let anything stop you</h1>
    <p>You got everything you need.</p>
      <!-- Search Bar -->
      <%= render 'layouts/search' %>
  </div>
</div>
